.cards-container {
   .flex(space-evenly);
    // display: flex;
    // justify-content: center;
    .width-100();
    background-color: @column-black;
    //margin-top:0px;
    flex-wrap: wrap;



    
    // @phone {
    //   width: 500px;
    // }
    .card {
      //.border-bottom-grey();
      .flex(space-between, none, column);
      background-color: @column-black;
     // background-color: @white;
      width: 300px;
      height: 175px;
      margin-top: 20px;
      margin-bottom: 16px;
      padding: 24px;
      border-radius: 5px;
      border-style: solid;
      border-width: 2px;
      border-color: @card-border;

      

      .profile-header {
        display: flex;
        //padding-right: 10px;
        //border-right: 1px solid @light-blue;
        align-items: right;
        img {
            height: 20px;
            width: 20px;
 
          }
        }
      
      .author {
        .flex(none, center);
        margin-top: 15px;
        .img-container {
          padding-right: 10px;
          border-right: 1px solid @light-blue;
          height: 40px;
          img {
            width: 40px;
          }
        }
        span {
          padding-left: 10px;
          font-size: 12px;
          letter-spacing: 1px;
          font-weight: bold;
        }
      }
    }
  }