.cards-container {
  font-family: "Ubuntu", sans-serif;
  .flex(space-evenly);
  .width-100();
  background-color: @column-black;
  flex-wrap: wrap;

  .card {
   .flex(space-between, none, column);
    background-color: @column-black;
    width: 300px;
    height: 175px;
    margin-top: 20px;
    margin-bottom: 16px;
    padding: 24px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: @card-border;
  
    p {
      color: @white;
    }
  
    span {
      color: @white;
      font-size: 12px;
      letter-spacing: 1px;
    }
  
    .card-top {
      .flex(space-between, none, row-reverse);
      width: 100%;
    }

    .card-middle {
      .flex(space-between, none, row);
      padding: 0;
      margin: 10px 0 0 0;
    }

    .card-bottom {
      display: flex;
      justify-content: center;
      img {
        margin-top: 10px;
        height: 30px;
        width: 30px;
      }
    }

    .profile-header {
      display: flex;
      justify-content: flex-end;
      width: 20%;

      img {
        height: 20px;
        width: 20px;
      }
    }

    .team-member {
      .flex(none, none);
      width: 80%;
      .img-container {
        padding-right: 10px;
        border-right: 1px solid @light-blue;
        height: 40px;
        align-items: flex-start;
        img {
          width: 40px;
        }
      }
      span {
        color: @white;
        padding-left: 10px;
        font-size: 18px;
        letter-spacing: 1px;
       }
    }
  }
}
