
html {
  font-family: "Ubuntu", sans-serif;
}

.flyingelement {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: center;
  img {
    display: block;
    max-width: 400px;
    max-height: 125px;
    width: auto;
    height: auto;
  }
}

.teams {
  .border-bottom-grey();
  .flex(center, center);
  .width-100();
  background-color: @data-blue;
  padding: 0;
  margin: 0;

  .groups {
    .flex(none, center);
    .title {
      height: 75px;
      font-size: 24px;
      letter-spacing: 1px;
      font-weight: bold;
      @media @phone {
        padding: 0;
        margin: 0;
        width: 100%;
      }
    }
    @media @phone {
      .flex(center, center, column);
      width: 100%;
    }

    .team {
      .flex(none, center);
      color: @white;
      background-color: @dustin-yellow;
      width: 20%;
      height: 40px;
      font-size: 14px;
      letter-spacing: 2px;
      cursor: pointer;
      font-weight: bold;
      text-align: center;
      justify-content: center;
      &:hover {
        text-decoration: none;
      }
      @media @phone {
        .flex(center, center, column);
        width: 100%;
        padding: 0;
        margin: 0;
      }
    }
    .active-team {
      background-color: @white;
      color: @flock-black-background;
      border: 2px solid @light-green;
    }
  }
}

.header {
  .flex(space-between, center);
  background-color: @white;
  .border-bottom-grey();
  .width-100();
  height: 120px;
  margin-top: 44px;
  padding-bottom: 15px;
  @media (min-width: 1280px) {
    width: 1280px;
  }

  h1 {
    font-size: 60px;
    font-family: Didot, serif;
    font-weight: bold;
    flex: 8;
    text-align: center;
    color: @flock-black-background;
  }
  span {
    align-self: flex-end;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .date {
    margin-left: 25px;
    flex: 1;
  }
  .temp {
    text-align: right;
    margin-right: 25px;
    flex: 1;
  }
}
