// Color assignments



// Colors
@flock-black-background: rgb(14,15,20); 
@white: #FFFFFF;
@blue: #1DA1F2;
@light-blue: #A0DDE6;
@green: #5C946E;
@light-green: #80C2AF;
@back-blue: #00b6cc;


// Breakpoints
@phone: ~"( max-width: 500px)";
@tablet: ~"(min-device-width : 768px) and (max-device-width : 1024px)";
